body{
    padding: 100px;
}
.submit-area {
   margin-top: 50px;
   padding: 40px ;
    border-radius: 10px;
    box-shadow: 10px 5px 10px grey;
}
#transaction-area{
    display: none;
}

.status{
    margin: 0 20px;
    color: white;
    border-radius: 10px;
    padding: 20px;
}
.deposit{
    background-color: lightblue;
}

.withdraw{
    background-color: slateblue;
}
.balance{
    background-color: chocolate;
}